<h1> Mon profil </h1>

<%= "Nom : #{@profile.first_name.capitalize}" %>
<br> <%= "Surnom : #{@profile.nickname.capitalize}" %>
<br> <%= "Description : #{@profile.description.capitalize}" %>

<br> <%= link_to "Modifier", edit_profile_path(@profile) %>
