body {
  display: flex;
  justify-content: center;
}

.background-container {
  background-image: linear-gradient(210deg, #7579E7 0%, #9AB3F5 45%, #A3D8F4 65%, #B9FFFC 100%) !important;
  height: 100vh;
  width: 400px;

  .container {
  height: calc(100vh - 56px);
  overflow-y: scroll;
  }
}

.z-index {
    z-index: 1;
  }
