<h1>Ajouter une maison : </h1>

  <%= simple_form_for @house do |f| %>
     <%= f.input :name, label:"Donne un petit nom à ton foyer !" %>
     <%= f.button :submit, "Construit ton foyer" %>
  <% end %>

