


<%= link_to "icone cadeau", new_house_task_path(@house) %>

<h1>Houses#show</h1>

<h2> Hello ! (mettre name après avoir créé la table profil)</h2>
<p> Name : <%= @house.name %> </p>
<p> Id : <%= @house.id %> </p>
<p> Membres : <%= @house.user.email %> </p>
<h2> Liste des tâches </h2>
<ul>
  <li> (partir d'un Tasks.all avec un each pour avoir la liste des tâches pour une house) </li>
</ul>

