<h1> Choisissez votre récompense ! </h1>

<%= simple_form_for @gift do |f| %>
  <%= f.input :name, label:"Nom de la récompense :" %>
  <%= f.input :description, label:"Description :" %>
  <%= f.button :submit, "Valider" %>

<% end %>
