<h1>En jeu cette semaine</h1>
<h2 class="gift-card font-bold-900 mix-blend-mode">
  <%= @gift.name.capitalize %>
</h2>
<div class="card-square">
  <p>
    <%= @gift.description.capitalize %>
  </p>
  <%= image_tag "gift-box.png", style: "height:200px; width:200px;"%>
</div>
<div class="">
  <%= link_to "MODIFIER", edit_gift_path, class:"button-edit" %>
</div>
