
<div class="container1">
  <h1> <br> EN JEU CETTE SEMAINE </h1>
    <h2 class="pink">
      "<%= @gift.name.capitalize %>"
    </h2>

    <p>
      <%= @gift.description.capitalize %>
     </p>

    <div class="card-square">
      <%= image_tag "gift-box.png", style: "height:200px; width:200px;"%>
    </div>

  <%= link_to "Modifier", edit_gift_path, class:"button-edit" %>
<!-- </div>
 -->
