<%= link_to "Se déconnecter", destroy_user_session_path(@profile), method: :delete, data: {confirm: "Are you sure?"} %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Add a profile", new_profile_path %>

