.card-square {
  // margin: auto;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // width: 300px;
  // height: 300px;
  // background-color: rgba(250,250,250,0.5);
  // border-radius: 24px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  // text-align: center;
  // padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // flex-grow: 1;
  width: 90% !important;
  background-color: rgba(250,250,250,0.3);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  p {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  img {
    margin-bottom: 20px;
  }

}

.card-square-lighter {
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: rgba(250,250,250,0.4);
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.card-semi-rounded {
  margin: auto;
  width: 300px;
  height: 130px;
  background-color: #FFF;
  opacity: 70%;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  text-align: center;
}

.circle{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #676CD6;
  // display: flex;
  // text-align: center;
  justify-content: center;
  font-size: 10px;
  color: black;
}

#profile-name-card{
  color: #676CD6;
  display: block;
  text-align: center;
  background-color: rgba(250,250,250,0.5);
  border-radius: 50px;
  width: 90%;
  height: 50px;
  padding:10px;
  margin-bottom: 10px;
}

#profile-description-card{
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 140px;
  background-color: rgba(250,250,250,0.4);
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #676CD6;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250,250,250,1);
  border-radius: 50px;
  width: 90%;
  height: 75px;
  padding:10px;
  margin-bottom: 10px;

  // margin: auto;
  // margin-top: 10px;
  // line-height: 75px;
  // text-align: center;
  // color: #787EE8;
  // font-weight: 540;
  // text-decoration: none;
  // letter-spacing: 1.5px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
  p {
    margin:0px;
    color: #7B83E9;
  }
    transition: background-color 0.5s ease-out;
}

.task-card:hover {
  background-color: rgba(250,250,250,0.6);
}

.task-card2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(250,250,250,1);
  border-radius: 50px;
  width: 90%;
  height: 75px;
  padding:10px;
  margin-bottom: 10px;

  p {
    margin:0px;
    color: #7B83E9;
    padding-left : 10px;
  }
    transition: background-color 0.5s ease-out;
}

.task-card2:hover {
  background-color: rgba(250,250,250,0.6);
}

.text-card2-task {
display: flex;
flex-direction: column;
}

#points{
  height: 25px;
}

.gift-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250,250,250,0.9);
  border-radius: 50px;
  width: 90%;
  height: 75px;
  padding:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.8s ease-in-out;
}

.gift-card:hover{
  background-color: rgba(250,250,250,0.2);
  transition: color 0.8s ease-in-out;
  color: #fff !important;
}

// .task-card-text{
//   color: #787EE8;
//   font-weight: 540;
//   text-decoration: none;
//   letter-spacing: 1.5px;
// }

// .task-card-text:hover{
//   text-decoration: none;
//   color: #676CD6;
// }






// .big-container{
//   width: 400px;
//   height: 100%;
//   margin: auto;
//   padding: 5px;
// }

// .nav-container{
//   width: 400px;
//   margin: auto;
// }

// Dégradé clair à foncé
// .container1 {
//   width: 400px;
//   height: 100%;
//   color: white;
//   margin: auto;
//   padding-bottom: 10px;
//   background-image : linear-gradient(160deg, #B1F0F9 50%, #7980E9 75%);
//   text-align: center;
// }

// Dégradé foncé à clair
// .container2 {
//   width: 400px;
//   height: 100%;
//   height: 700px;
//   margin: auto;
//   background-image : linear-gradient(170deg, #7980E9 30%, #B1F0F9 85%);
//   text-align: center;
// }

// .navbar{
//   width: 400px;
// }

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 12px;
// }


// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 60px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   color: #3F47DE;
//   text-decoration: none;
// }

// .card-category:hover {
//   background-size: cover;
//   background-position: center;
//   height: 60px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   color: #3F47DE;
//   text-decoration: none;
// }
