.navbar-lewagon {
  justify-content: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-nav {
  // padding-left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
