h1 {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  margin: 0px;
}

p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 600 !important;
}

.color-white {
  color: #fff;
}

.font-bold-500 {
  font-weight: 500;
}
.font-bold-900 {
  font-weight: 900;
}

.mix-blend-mode {
  color: black !important;
  mix-blend-mode: screen !important;
}


// h1{
//   letter-spacing: 1,5px;
//   font-weight: lighter;
//   text-transform: uppercase;
//   color: #777DE8;
// }

// h2{
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   font-weight: 10;
//   font-size: 20px;
// }

// p{
//   font-weight: lighter;
//   letter-spacing: 0,9px;
//   font-family: 'Roboto', sans-serif;
//   color: #777DE8;
//   // font-style: italic;
// }

// .pink {
//   color: #f65867;
// }


.blue-points {
  color: #ADEAF8;
}

// .white {
//   color: white;
//   text-decoration: none;
// }
